@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --width: 'auto';
  --height: 100vh;
  --white: #ffffff;
  --bg: #222222;
  --gold: #453d30;
  --orange: #ff7a4caa;
}

body {
  margin: 20px;
  background-color: var(--bg);
  color: var(--white);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

header {
  color: var(--orange);
  padding: 0 0 2rem 0;
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
}

footer {
  position: fixed;
  box-sizing: content-box;
  padding: 0.5rem;
  filter: opacity(30%);
  right: 0;
  bottom: 0;
}

#app {
  min-width: var(--width);
  min-height: var(--height);
  max-width: var(--width);
  max-height: var(--height);
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.2em, auto));
  grid-gap: 2em;
  align-items: center;
  text-align: center;
}

.wrapper>div {
  filter: contrast(80%);
  border-top: 1px solid var(--gold);
  border-radius: 10px;
}

.wrapper>div>div.title {
  font-size: .8em;
  text-transform: uppercase;
  color: var(--gold);
  margin: 1em;
}

.wrapper>div>svg {
  fill: var(--orange);
  filter: sepia(100%);
  min-width: 4em;
  min-height: 7em;
  max-width: 4em;
  max-height: 7em;
}

.wrapper>div>div.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 2em;
  font-weight: 300;
  padding: 0.1em;
  border-radius: 0 0 10px 10px;
  background-color: var(--gold);
  border-top: 0;
}

@media (max-width: 568px) {
  header {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 411px) and (min-height: 730px) {
  .wrapper {
    font-size: 1.5em;
  }
}
